body{
  background-color: rgb(230, 230, 230)
}
.wrapper{
  margin-top: 40px;
  padding: 0;
}
.navbar-wrapper .container{
  padding: 0;
}
.navbar-wrapper .navbar{
  border-radius: 4px;
}

.panel-dark{
  border-color: #222;
}
.panel-dark>.panel-heading{
  color:#fff;
  background-color: #333;
  border-color: #222;
}
